<!DOCTYPE html>
<html>
<head>
	<title>UwU</title>
</head>
<body>
	<h1>Meow</h1>
	<form method="POST" action="/convert">
		<label for="option">Method:</label>
		<select name="option" id="option">
			<option value="0">0</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
		</select>
		<br><br>
		<label for="message">Lex:</label>
		<input type="text" id="message" name="message" required>
		<br><br>
		<input type="submit" value="Send">
	</form>
</body>
</html>
